/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* Global box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS Reset */
body,
h1,
p {
  margin: 0;
}

body {
  background-color: #e4e5f1;
  font-family: "Josefin Sans", Arial, sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  height: 200px;
  background: linear-gradient(to right, #c0bfff, #8181f7);
}

.content {
  width: 100%;
  position: absolute;
  padding: 32px 16px 32px 16px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .content {
    width: 500px;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.content h1 {
  color: #fafafa;
  font-weight: 700;
  font-size: 24px;
}

.input {
  margin-top: 24px;
  border: none;
  width: 100%;
  background-color: #fafafa;
  color: #494b69;
  font-size: 18px;
  padding: 16px;
  border-radius: 8px;
}

.input::placeholder {
  font-style: italic;
}

.input:focus {
  outline: none;
}

.list-wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #fafafa;
}

.list {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e5f1;
}

.list-text {
  width: calc(100% - 40px);
  padding: 0 12px 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: alias;
}

.checkBox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #494b69;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.checked {
  border: none;
  background-color: #8181f7;
  background-image: url("/images/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.completed {
  color: #9394a4;
  text-decoration: line-through;
}

.delete {
  width: 16px;
  height: 16px;
  border: none;
  color: #9394a4;
  background-color: transparent;
  background-image: url("/images/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.list-footer {
  width: 100%;
  color: #9394a4;
  justify-content: space-between;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  background-color: #fafafa;
  padding: 16px;
}

.clrCompleted {
  cursor: pointer;
}

.edit-input {
  width: calc(100% - 60px);
  text-align: left;
  border: none;
  color: #494b69;
  font-size: 16px;
  border-radius: 8px;
  padding: 4px;
}

.edit-input:focus {
  outline: none;
  border: 1px solid #c0bfff;
}
